<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>springboot example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
</head>
<body>
</body>
</html>  
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Employees-List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" type="submit">Add Employee</button>
        </div>
      </nav>
  
  <!-- Modal -->
  <div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputId">Id</label>
                    <input type="number" class="form-control" id="exampleInputId" placeholder="">
                  </div>
                <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="text" class="form-control" id="exampleInputName" aria-describedby="name" placeholder="Enter name">
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputSalary">Salary</label>
                  <input type="number" class="form-control" id="exampleInputSalary" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputGender">Gender</label>
                    <input type="text" class="form-control" id="exampleInputGender" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputAge">Age</label>
                    <input type="number" class="form-control" id="exampleInputAge" placeholder="">
                  </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add Employee</button>
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>
      
        
</div>
<div class="container">
    <table class="table table-striped">
        <thead class="header">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>salary</th>
                <th>gender</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor= "let employees of employees">
            <td>{{employees.id}}</td>
            <td>{{employees.name}}</td>
            <td>{{employees.salary}}</td>
            <td>{{employees.gender}}</td>
            <td>{{employees.age}}</td>
        </tr>
    </tbody>
    </table>

    </div>

